html,
body {
    height: 100%;
    background-color: #18181b;
    font-family: 'Inter', sans-serif;
}

#pop-out {
    position: absolute;
    bottom: 0;
}

button {
    background-color: #9147ff;
}

div {
    display: block;
}

.emotes,
.cheer {
    margin: -.5rem 0;
    position: relative;
    vertical-align: middle;
}

#chat {
    float: right;
    width: 34rem;
    min-width: 34rem;
    height: 100%;
    background-color: #0e0e10;
    overflow-y: auto;
    font-size: 13px;
    word-break: break-word;
    white-space: normal;
}

.container {
    height: 90%;
}

i {
    color: #ffffff;
}

i:hover {
    color: #9147ff;
    cursor: pointer;
}

.button-div{
    float: left;
}

.channel-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}

#chat-row {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%
}

#channel-row {
    float: right;
    width: 20rem;
    min-width: 20rem;
    height: 100%;
    align-items: center;
    margin-right: 2rem;
    border-style: solid;
    border-color: #3d3d3d;
    border-width: 0.1em;
}

.badges,
.sub-badges {
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: relative;
    vertical-align: inherit;
}

.points-icon {
    position: relative;
    vertical-align: text-top;
}

.messages {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.beforeMessage {
    color: #fff;
    font-weight: normal;
    position: relative;
    vertical-align: baseline;
}

.user-name {
    position: relative;
    vertical-align: baseline;
}

.channelLines {
    color: #b3b3b3;
    border-left: 0.3em solid #9147ff;
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
}

.sub,
.resub,
.highlighted-message {
    margin-left: -0.75em;
    padding-left: 0.5em;
    padding-bottom: 0.3em;
}

.sub-div,
.highlight-event {
    padding-left: 0.3em;
}

.sub-username {
    font-weight: bold;
    color: #ffffff;
}

.channel-names {
    color: #ffffff;
}

.channel-names:hover {
    color: #9147ff
}

.channel-div {
    display: flex;
    align-items: center;
    word-break: break-word;
}

.sub-message,
.redeemed {
    color: #b3b3b3;
}

.highlight-my-message {
    color: #b3b3b3;
    font-weight: bold;
}

.sub-span {
    vertical-align: middle;
}

.chatLines {
    width: 90%;
    vertical-align: text-top;
    margin-right: 1em;
}

#chat-container {
    padding-top: 1em;
    height: 95%;
}

/* transition: transform 500ms ease 0ms;
transform: translateX(-34rem) translateZ(0px); */