html, body { 
    height: 100%;
    background-color:#18181b;
    font-family: 'Inter', sans-serif;
}

#button-div {
    margin-left: 4em;
}

button {
    background-color: #9147ff;
}

div {
    display: block;
}

.emotes {
    margin: -.5rem 0;
    position: relative;
    vertical-align: middle;
}

#chat {
    background-color:#0e0e10;
    overflow-y: auto;
    font-size: 13px;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-style: solid;
    border-color: #979799;
    border-width: 0.1em;
}

.container {
    height: 100%;
}

.row {
    height: 90%
}

.badges, .sub-badges {
    padding-left: 0.3em;
    padding-right: 0.3em;
    position: relative;
    vertical-align: inherit;
}

.points-icon {
    position: relative;
    vertical-align: text-top;
}

.messages {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.beforeMessage {
    color: #fff;
    font-weight: normal;
    position: relative;
    vertical-align: baseline;
}

.user-name {
    position: relative;
    vertical-align: baseline;
}

.channelLines {
    color:  #b3b3b3;
    border-left: 0.3em solid #9147ff;
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
}

.sub, .resub, .highlighted-message {
    margin-left: -0.75em;
    padding-left: 0.5em;
    padding-bottom: 0.3em;
}

.sub-div, .highlight-event {
    padding-left: 0.3em;
}

.sub-username {
    font-weight: bold;
    color: #ffffff;
}

.sub-message, .redeemed {
    color: #b3b3b3;
}

.highlight-my-message {
    color: #b3b3b3;
    font-weight: bold;
}

.sub-span {
    vertical-align: middle;
}

.chatLines {
    width: 90%;
    vertical-align: text-top;
    margin-right: 1em;
}

#chat-container {
    padding-top: 1em; 
}