html, body { 
    height: 100%;
    background-color:#18181b;
    font-family: 'Roboto', sans-serif;
}

#button-div {
    margin-left: 4em;
}

button {
    background-color: #9147ff;
}

div {
    display: block;
}

.emotes {
    margin: -.5rem 0;
    position: relative;
    vertical-align: middle;
}

#chat {
    background-color:#0e0e10;
    overflow-y: auto;
    font-size: 13px;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-style: solid;
    border-color: #979799;
    border-width: 0.1em;
}

.container {
    height: 100%;
}

.row {
    height: 90%
}

.badges {
    padding-right: 0.3em;
    position: relative;
    vertical-align: middle;
}

.messages {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.beforeMessage {
    color: #e0e0e0;
}

.channelLines {
    color: #707070;
    border-left: 0.3em solid #9147ff;
    margin-left: 0.5em;
    padding-left: 0.3em;
}

.chatLines {
    vertical-align: text-top;
    padding-bottom: 1em;
    margin-right: 1em;
    margin-left: 0.5em;
}

#chat-container {
    padding-top: 1em; 
}